{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Aegis School of Cybersecurity</h1>
  <p>PGP in Cybersecurity in association with IBM</p>
</div>
<div class="navbar navbar-default">
	<b><h2>Front End Designer Team</h2></b>
</div>
<div class="navbar navbar-default">
		<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><h4><b>Narahari</b></h4><br />
		  <a href="https://www.linkedin.com/in/narahari-komanduri-81b920144/"target="_blank">For More Details<br /><h2><b>Clickhere</h2></b></a><br />
			<br /><br /></li>
         </ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><h4><b>Baseer:</b></h4><br />
        <a href="https://www.linkedin.com/in/mohamed-baseer-a-a46a38b1/"target="_blank">For More Details<br /><h2><b>Clickhere</h2></b></a><br />
  			<br /><br /></li>
		 </ul>
		</div>
</div>
<div class="navbar navbar-default">
	<h2>Back End Development Team</h2>
</div>
<div class="navbar navbar-default">
		<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><h4><b>Biju</b></h4><br />
             <a href="https://www.linkedin.com/in/biju-verghese-699309111/"target="_blank">For More Details<br /><h2><b>Clickhere</h2></b></a><br />
             <!--<br /><b><p>Implemented BackEnd Development</p></b><br />-->
			<br /><br /></li>
         </ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><h4><b>Hemanth</b></h4><br />
        <a href="https://www.linkedin.com/in/hemanth-kumar-0a397114b/"target="_blank">For More Details<br /><h2><b>Clickhere</h2></b></a><br />
          <!--<br /><b><p>Implemented BackEnd Development</p><br />--->
			<br /><br /></li>
		 </ul>
		</div>
</div>


{% endblock %}
