{% extends 'layout.html' %}
{% block body %}
<!--<div class="jumbotron text-center">
  <h1>Welcome to Aegis</h1>
  <p>Aegis school of Cybersecurity in association with IBM</p>
</div>-->
<div class="jumbotron text-center">
  <title>Home</title>
  <i><b><h2>Password strength checker - Secured Data Storage and Retrieval</h2></b></i><br />
  <h4>The main purpose of this project is to improve the password strength and security of the database with additional
    benefit of providing authorized users the required data whenever needed. </h4>
</div>
<!--<div class="jumbotron text-center">
  <h2>Password strength checker - Secured Data Storage and Retrieval</h2>
  <ul>
    <p><li>To check the strength of newly generated password</li></p><br />
    <li>Convert raw data (received from a webpage) to encrypted data</li>
    <li>Store in a database</li>
    <li>Display decrypted data in webpage</li>
  </ul>-->
  </div>

{% endblock %}
